.header {
    background-color: red;
    background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)),  url(./picture/headerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 695px; 
}


@media screen and (max-width: 768px) {
    .header {
        height: 500px; 
    }
}


@media screen and (max-width: 480px) {
    .header {
        height: 300px;
    }
}


.navDiv {
    display: flex;
    justify-content: flex-start;
    margin-left: 550px; 
}


@media screen and (max-width: 768px) {
    .navDiv {
        margin-left: 0; 
        justify-content: center; 
    }
}


@media screen and (max-width: 480px) {
    .navDiv {
        margin-left: 0; 
        flex-direction: column; 
        justify-content: center; 
    }
}

a {
    text-decoration: none;
  }
  
.h5{
    margin-left: 35px;
}

h5{
    color: white;
    font-family: 'Raleway', sans-serif;
}

.nav{
    padding-top: 80px;
    padding-left: 150px;
}

.headerh1 {
    color: white;
    margin-left: 330px; 
    margin-top: 120px; 
}


@media screen and (max-width: 768px) {
    .headerh1 {
        margin-left: 0; 
        margin-top: 80px; 
        text-align: center; 
    }
}


@media screen and (max-width: 480px) {
    .headerh1 {
        margin-left: 0;
        margin-top: 50px; 
        text-align: center;
        font-size: 1.5rem; 
    }
}

.arrowOne{
    padding-left: 340px;
    padding-top: 150px;
    
   
}

.headerTow{
    display: flex;
    
}


.icon {
    color: white;
    display: flex;
}


.headerIcon {
    margin-left: 500px; 
    margin-top: 50px;   
}


@media screen and (max-width: 768px) {
    .headerIcon {
        margin-left: 0; 
        margin-top: 30px; 
        justify-content: center; 
    }
}


@media screen and (max-width: 480px) {
    .headerIcon {
        margin-left: 0; 
        margin-top: 20px;
        justify-content: center; 
        width: 100%; 
        display: flex; 
    }
}

.iconvk{
    margin-top: 10px;
    margin-left: 15px;
    width: 20px;
    height: 20px;
}


.mainFirstDiv {
    margin-bottom: 800px; 
    width: 1500px; 
    height: 100vh; 
}

@media screen and (max-width: 768px) {
    .mainFirstDiv {
        width: 100%; 
        margin-bottom: 400px; 
    }
}


@media screen and (max-width: 480px) {
    .mainFirstDiv {
        width: 100%; 
        margin-bottom: 200px; 
        height: auto; 
    }
}


.mainFirstImage {
    margin-left: 285px; 
    width: 700px; 
    height: 1000px; 
    z-index: -1;
    position: absolute;
}


@media screen and (max-width: 768px) {
    .mainFirstImage {
        width: 500px; 
        height: 700px; 
        margin-left: 50px; 
    }
}


@media screen and (max-width: 480px) {
    .mainFirstImage {
        width: 100%;
        height: auto;
        margin-left: 0;
        position: relative; 
    }
}




.main01 {
    margin-left: 350px; 
    margin-top: 55px; 
}

@media screen and (max-width: 768px) {
    .main01 {
        margin-left: 50px; 
        margin-top: 40px;  
    }
}


@media screen and (max-width: 480px) {
    .main01 {
        margin-left: 0; 
        margin-top: 20px; 
        text-align: center; 
    }
}

.mainFirstOnas {
    width: 400px;
    margin-top: 40px;
    margin-left: 290px;
}


@media screen and (max-width: 768px) {
    .mainFirstOnas {
        width: 300px; 
        margin-top: 30px; 
        margin-left: 50px; 
    }
}

@media screen and (max-width: 480px) {
    .mainFirstOnas {
        width: 90%; 
        margin-top: 20px;
        margin-left: 0; 
        text-align: center;
    }
}

.mainFirstTwo {
    display: flex;
}

.imgMask {
    margin-top: 50px; 
    width: 800px; 
    height: 600px; 
}

@media screen and (max-width: 768px) {
    .imgMask {
        width: 600px; 
        height: 450px; 
        margin-top: 40px; 
    }
}


@media screen and (max-width: 480px) {
    .imgMask {
        width: 100%; 
        height: auto; 
        margin-top: 20px; 
    }
}

.mainTwoDiv{
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
}


.mainTwo {
    margin-top: 40px; 
    margin-left: 30px;
    width: 500px;
}

@media screen and (max-width: 768px) {
    .mainTwo {
        margin-left: 20px; 
        width: 80%; 
    }
}


@media screen and (max-width: 480px) {
    .mainTwo {
        margin-left: 10px; 
        width: 90%; 
        margin-top: 20px; 
    }
}



.mainTwoPicture{
    display: flex;
}

.mainTwoPictur{
    width:45px;
    height:18px;
    margin-top: 15px;
    margin-left: 10px;
}

.mainThree{
   
    background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url(./picture/threePicture.jpg);
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
    max-width: 100%;
    height: 500px;

}

.threeVector{
    margin-left: 155px;
    z-index: 2;
    width: 1100px;
    position: absolute;

}
.picture02{
    margin-top: 60px;
    margin-left: 1150px;
}


.mainThreeOneSection {
    color: white;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    max-width: 920px; 
}

.mainTreeArrow {
    margin-left: auto; 
}


@media (max-width: 1024px) {
    .mainThreeOneSection {
        width: 95%;
    }
    .mainTreeArrow {
        margin-left: 50px; 
    }
}


@media (max-width: 768px) {
    .mainThreeOneSection {
        flex-direction: column; 
        align-items: center;
        text-align: center;
        margin-left: auto;
    }
    .mainTreeArrow {
        margin-left: 0; 
        margin-top: 20px; 
    }
}


@media (max-width: 480px) {
    .mainThreeOneSection {
        width: 100%;
    }
}


.mainTreePart {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-left: auto; 
    margin-right: 20px; 
    gap: 20px; 
}


@media (max-width: 1024px) {
    .mainTreePart {
        margin-left: auto; 
        margin-right: auto;
    }
}


@media (max-width: 768px) {
    .mainTreePart {
        flex-direction: column; 
        align-items: center;
    }
}


@media (max-width: 480px) {
    .mainTreePart {
        gap: 10px; 
    }
}


.mainTreePartOne{
    width: 450px;
    height: 350px;
    margin-right: 20px;
    background-image: url(./picture/cinema.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.mainTreePartTwo{
    width: 450px;
    height: 350px;
    background-image: url(./picture/Vall.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.arrow4{
    width: 55px;
    height: 10px;
    margin-right: 20px;
    margin-top: 200px;
}

.arrow3{
    width: 55px;
    height: 10px;
    margin-left: 20px;
    margin-top: 200px;
}

.mainh2{
    color: white;
    margin-top: 150px;
    margin-left: 60px;
}

.circle{
    margin-right: 6px;
    width: 6px;
    height: 40px;
}

.vector4{
    margin-left: 155px;
    width: 1300px;
    height: 1500px;
    z-index: -1;
    position: absolute;
}

.mainFour{
    display: flex;
    padding-top: 140px;
    padding-left: 260px;
}

.image04{
    width: 40px;
    height: 40px;
    margin-left: 770px;
    /* padding-left: 200px; */
}


.icon {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    margin-left: 40px;
    margin-right: auto;
    margin-top: 0px;
}

.iconOne {
    width: 140px;
    height: 140px;
    margin: 20px;
}

.iconTwo {
    width: 340px;
    height: 160px;
    margin: 20px;
}


@media (max-width: 1024px) {
    .icon {
        margin-left: auto;
        margin-right: auto;
    }

    .iconOne {
        width: 120px;
        height: 120px;
    }

    .iconTwo {
        width: 280px;
        height: 140px;
    }
}

@media (max-width: 768px) {
    .icon {
        flex-direction: column; 
        align-items: center;
    }

    .iconOne,
    .iconTwo {
        width: 100px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .iconOne {
        width: 80px;
        height: 80px;
    }

    .iconTwo {
        width: 200px;
        height: 100px;
    }
}

.mainFiveOne{
    display: flex;
    margin-top: 60px;
    margin-left: 240px;
}


.picture05{
    margin-left: 100px;
    width: 40px;
    height: 30px;
}

.mainFiveTwo{
    margin-top: 50px;
    margin-left: 240px;
}

.number{
    color: gray;
}

.mainFiveThree{
    display: flex;
}

.arrow2{
    width: 35px;
    height: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.mainFiveFour{
    display: flex;
    margin-left: 400px;
}

.mainFive{
    display: flex;
}

.mainFivePicture{
    margin-top: 80px;
    width: 500px;
    height: 750px;
}

.Vector2{
    margin-left: 400px;
    width: 815px;
    height: 2px;
    z-index: -2;
    position: absolute;
}



.mainGarni{
    display: flex;
    margin-top: 30px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)),  url(./picture/garni.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 1550;
    height: 705px;
}

.vector5{
    margin-left: 100px;
    z-index: 2;
    position: absolute;
}

.mainGarnifirst{
    color: white;
    padding-top: 120px;
    margin-left: 140px;
}

.custom-form {
    z-index: 2;
    padding: 20px;
    border-radius: 25px; 
    max-width: 260px;
    color: white; 
    padding-top: 360px;
}
.custom-form input {
    border-radius: 25px; 
    margin-bottom: 6px;
}
.custom-form button {
    border-radius: 25px; 
}

.contact-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
}
.contact-card h4 {
    font-weight: bold;
}
.contact-card i {
    color: red;
    margin-right: 10px;
}
.map-container {
    position: relative;
    width: 100%;
    height: 500px;
}
.contact-card-container {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 10;
}

footer{
    max-width: 1200px;
    max-height: 500px;
    display: flex;
}

.h5Footer{
    color: #991B1F;
    margin-left: 45px;
   
}



.social-icons {
    display: flex;
    margin-left: 400px;
    /* gap: 1px; 
    justify-content: center;
    align-items: center; */
}


.iconn {
    margin-left: 10px;
    text-decoration: none;
    color: #800000; 
    font-size: 24px;
    transition: transform 0.3s;
}

.iconn:hover {
    transform: scale(1.1);
}


.footerImage{
    margin-left: 100px;
    margin-right: 100px;
}

.footer{
    margin-top: 100px;
    margin-bottom: 100px;
}

